*.pdf
!images/project_structure_resources.pdf
!images/project_structure_scripts.pdf
*.aux
*.acn
*.glo
*.ist
*.glsdefs
*.dvi
*.log
*.bbl
*.blg
errors.txt
_minted*
generated-code-segments/
*.pyg
*.synctex*
*.fdb_latexmk
*.fls
output
*.pagecount
*.toc
*.out
*.xdv
*.bcf
*.run.xml
*.cpt
*.data.minted
*-insert-code-*.tmp
*-SAVE-ERROR
*.acr
*.alg
*.glg
*.gls
*.upa
*.tmp
